Appium-Python-Client==5.2.4
browserstack-local==1.2.12
browserstack_sdk==1.33.6
robotframework==7.3.2
robotframework-pabot==5.1.0
robotframework-pythonlibcore==4.4.1
robotframework-retryfailed==0.2.0
robotframework-seleniumlibrary==6.8.0
robotframework-stacktrace==0.4.1
selenium==4.36.0
PyYAML==6.0.3
requests==2.32.5
